<!doctype html>
<html>
    <head>
        
    </head>
    
    
    <body>
        
        <div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>About</p>
						</div><br /><br /><br /><br />
        </div>
        <div class="about-stuff4">
            <h1 style="font-weight: bolder">Our Sponsor!</h1>
            <a href=https://www.studypool.com/ ><img class="center" src="img/about/studypool-logo.png"/></a><br/>
            <p>We are sponsored by <a href=https://www.studypool.com/ target="_blank">Studypool</a>, Homework help - post Homework Questions, Assignments &amp; Papers. Get Answers from premium tutors 24/7!</p>
        </div>
        <div class="about-stuff">
            <img src="img/about/pic1.jpg"><h1 style="font-weight: bolder">What is KASA?</h1>
            <p>KASA stands for the Korean American Student Association and the organization’s mission is to spread Korean culture to as many people as possible. The organization encourages people of all cultural backgrounds to be a member. The organization has events to spread culture to those within the organization while ensuring the members have fun at the same time. The organization then puts all of its efforts together to hold a culture show, which hundreds of students from Virginia Tech as well as students and parents from other schools come to watch.</p>
        </div>
           <div class="about-stuff2">
            <img src="img/about/pic2.jpg"><h1 style="font-weight: bolder">Big / Little Family</h1> 
            <p>Join our Big / Little program and meet other KASA members! A Big can take many forms: mentor, friend, and family. Bigs can have one or more Littles to spend time with and create lasting friendships. Members who have been with KASA for at least a year are able to apply to become a Big. If you are new to KASA, a Big can be a highly supportive member and help you connect with people much more easily. It doesn’t matter how old or what year you are, anyone can be a little!</p>
        </div>
        <div class="about-stuff3">
            <img src="img/about/pic4.jpg"><h1 style="font-weight: bolder">Culture Show</h1>
            <p>Held every spring semester, KASA’s culture show is the organization’s largest event and one of the most memorable experiences for both its participants and audience members. We prepare months in advance and put in our best effort to showcase Korean culture through performances and script. We invite you to come out and join us for a great show!</p>
        </div>

        <div class=parallax id="pumpkin"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
<footer class=footer>
    <div class=socialmediastuff>
        <a href="https://www.facebook.com/vtkasa/" target="_blank"><img src="img/footer/facebook.png" width="32px" height="32px"></a>
        <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img src="img/footer/youtube.png" width="32px" height="32px"></a>
        <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram.png" width="32px" height="32px"></a>
        <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img src="img/footer/twitter.png" width="32px" height="32px"></a>
        <a href="mailto:vtkasa@gmail.com"><img src="img/footer/gmail.png" width="32px" height="32px"></a>
    </div>
            <p>&copy; 2017 Korean American Student Association at Virginia Tech</p>
</footer>

    </body>
    

</html>