<!Doctype html>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>Contacts</p>
						</div><br /><br /><br /><br />
        </div>
<div class="wrapper">

<h1>Keep up with us!</h1>
    
    <ul class=keepup>
        <li>
            <a href="https://www.facebook.com/vtkasa/" target="_blank"><img class="hvr-grow" id="contact1" src="img/footer/facebook2.png" width="212px" height="212px"></a>
        </li>
        <li class="contact2">
            <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img class="hvr-grow" id="contact2" src="img/footer/youtube.png" width="212px" height="212px"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram2.png" class="hvr-grow" id="contact3" width="212px" height="212px"></a>
        </li>
        <li>
            <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img class="hvr-grow" id="contact4" src="img/footer/twitter2.png" width="212px" height="212px"></a>
        </li>
        <li>
            <a href="mailto:vtkasa@gmail.com"><img class="hvr-grow" id="contact5" src="img/footer/gmail.png" width="212px" height="212px"></a>
        </li>
    
    </ul>
</div>   
    
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
