<!doctype html>
<html>

    <head></head>
    <body>
        <div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>Events</p>
						</div><br /><br /><br /><br />
        </div>
        <section>
            <div>
        <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vtkasa%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FNew_York" style="border-width:0; max-width: 50rem;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
            </div>
        </section>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
<footer class=footer>
    <div class=socialmediastuff>
        <a href="https://www.facebook.com/vtkasa/" target="_blank"><img src="img/footer/facebook.png" width="32px" height="32px"></a>
        <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img src="img/footer/youtube.png" width="32px" height="32px"></a>
        <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram.png" width="32px" height="32px"></a>
        <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img src="img/footer/twitter.png" width="32px" height="32px"></a>
        <a href="mailto:vtkasa@gmail.com"><img src="img/footer/gmail.png" width="32px" height="32px"></a>
    </div>
            <p>&copy; 2017 Korean American Student Association at Virginia Tech</p>
</footer>

    </body>

</html>