<!Doctype html>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>Gallery</p>
						</div><br /><br /><br /><br />
        </div>
 <div class="galleryGrid">
                    <!--Pres-->
          <div class="img1" id="imgfade1">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=621316394746390" target="_blank">
                  <img class="hvr-float" src="/img/galleryalbum/2016-2017/seniorbanquet2017.jpg" ></a>
              
              <p class="gallerynames">Senior Banquet</p>
          </div>
        
                    <!--vp-->
          <div class="img2" id="imgfade2">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=615389128672450" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/cultureshow2017.jpg" ></a>
              
              <p class="gallerynames">Culture Show </p>
          </div>
        
                   <!--secretary-->
          <div class="img3" id="imgfade3">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=601739146704115" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/lastkasameeting2017.jpg" ></a>
              
              <p class="gallerynames">Last KASA Meeting Spring </p>
          </div>
        
                    <!--treasurer-->
          <div class="img4" id="imgfade4">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=585869738291056" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/valentines2017.jpg" ></a>
              
              <p class="gallerynames">Valentines</p>
          </div>
        
                <!--Fundraising chair-->
          <div class="img5" id="imgfade5">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=575011722710191" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/1stgenmeetingspring2017.jpg" ></a>
              
              <p class="gallerynames">First Spring General Meeting</p>
          </div>
        
                   <!--Public Relations-->
          <div class="img6" id="imgfade6">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=552567368287960" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/winterbanquet2016.jpg" ></a>
              
              <p class="gallerynames">Winter Banquet</p>
          </div>
        
        <div class="img7" id="imgfade7">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=549308595280504" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/serviceauction2016.jpg" ></a>
              
              <p class="gallerynames">Service Auction</p>
          </div>
     
                   <!--Culture show Coordinator-->
          <div class="img8" id="imgfade8">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=549288888615808" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/christmas2016.jpg" ></a>
              
              <p class="gallerynames">Christmas Joint Meeting with JCA</p>
          </div>
        
                   <!--Events coordinator-->
          <div class="img9" id="imgfade9">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=543967699147927" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/thanksgiving2016.jpg" ></a>
              
              <p class="gallerynames">Thanksgiving Joint Meeting with CAS</p>
          </div>
        
                   <!--Events coordinator-->
          <div class="img10" id="imgfade10">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=543023849242312" target="_blank" >
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/vtshidae2016.jpg" ></a>
              
              <p class="gallerynames">VT Shidae Joint Meeting </p>
          </div>
        
                   <!--Service Chair-->
          <div class="img11" id="imgfade11">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=538140499730647" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/kasalcs2016.jpg" ></a>
              
              <p class="gallerynames">KASA LCS</p>
          </div>
        
                    <!--Historian-->
          <div class="img12" id="imgfade12">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=535425066668857" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/movienight2016.jpg" ></a>
              
              <p class="gallerynames">Movie Night</p>
          </div>
        
                   <!--Historian-->
          <div class="img13" id="imgfade13">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=533638273514203" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/kimbapkombat.jpg" ></a>
              
              <p class="gallerynames">Kimbap Kombat</p>
          </div>
        
                   <!--Sports coordinator-->
          <div class="img14" id="imgfade14">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=531062530438444" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/joestree2016.jpg" ></a>
              
              <p class="gallerynames">Joe's Tree</p>
          </div>
        
                 <!--Internal Relations-->
          <div class="img15" id="imgfade15">
            <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=525078351036862" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/reveal2016.jpg" ></a>
              
              <p class="gallerynames">Big/Little Reveal</p>
          </div>
        
                   <!--Videographer-->
          <div class="img16" id="imgfade16">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=522426834635347" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/biglittle2016.jpg" ></a>
              <p class="gallerynames">Big/Little Week</p>
          </div>
        
                   <!--Webmaster-->
          <div class="img17" id="imgfade17">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=517879605090070" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/2ndgenmeeting2016.jpg" > </a>
              
              <p class="gallerynames">Second General Meeting</p>
          </div>
     
            <div class="img18" id="imgfade18">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=513541802190517" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/cascades2016.jpg" > </a>
              
              <p class="gallerynames">Cascades</p>
          </div>
     <div class="img19" id="imgfade19">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=511953812349316" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/1stgenmeeting2016.jpg" > </a>
              
              <p class="gallerynames">1st General Meeting</p>
          </div>
     <div class="img20" id="imgfade20">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=509611805916850" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/gobblerfest2016.jpg" > </a>
              
              <p class="gallerynames">Gobblerfest 2016</p>
          </div>
     <div class="img21" id="imgfade21">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=510754639135900" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/kasa2016boardshoot.jpg" > </a>
              
              <p class="gallerynames">KASA E-Board 2016</p>
          </div>
     <div class="img22" id="imgfade22">
              <a href="https://www.facebook.com/pg/vtkasa/photos/?tab=album&album_id=483448635199834" target="_blank">
              <img class="hvr-float" src="/img/galleryalbum/2016-2017/carwash2016.jpg" > </a>
              
              <p class="gallerynames">Car Wash 2016</p>
          </div>
      </div>

            
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
<footer class=footer>
    <div class=socialmediastuff>
        <a href="https://www.facebook.com/vtkasa/" target="_blank"><img src="img/footer/facebook.png" width="32px" height="32px"></a>
        <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img src="img/footer/youtube.png" width="32px" height="32px"></a>
        <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram.png" width="32px" height="32px"></a>
        <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img src="img/footer/twitter.png" width="32px" height="32px"></a>
        <a href="mailto:vtkasa@gmail.com"><img src="img/footer/gmail.png" width="32px" height="32px"></a>
    </div>
            <p>&copy; 2017 Korean American Student Association at Virginia Tech</p>
</footer>
