<!DOCTYPE HTML>
<html>
<head>

    <script src="js/bootstrap.min.js"></script>
</head>
    
<body>
    <div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>Home</p>
						</div><br /><br /><br /><br />
        </div>
<!--Carousel-->
<div id="carousel" class="carousel slide" data-ride="carousel" style="overflow:hidden">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="flyers" src="img/audition.jpg">
    </div>
    <div class="item">
      <img class="flyers" src="img/whitetail.jpg">
    </div> 
    <div class="item">
      <img class="flyers" src="img/winterbanquet.jpg">
      
    </div>
    <div class="item">
      <img class="flyers" src="img/biglittleapr.jpg">
      
    </div>
    <div class="item">
      <img class="flyers" src="img/kimbap.jpg">
    </div> 

  </div>

  <!-- Controls -->
  <span class="left carousel-control" data-target="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </span>
  <span class="right carousel-control" data-target="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </span>
</div>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>

<footer class=footer>
    <div class=socialmediastuff>
        <a href="https://www.facebook.com/vtkasa/" target="_blank"><img src="img/footer/facebook.png" width="32px" height="32px"></a>
        <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img src="img/footer/youtube.png" width="32px" height="32px"></a>
        <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram.png" width="32px" height="32px"></a>
        <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img src="img/footer/twitter.png" width="32px" height="32px"></a>
        <a href="mailto:vtkasa@gmail.com"><img src="img/footer/gmail.png" width="32px" height="32px"></a>
    </div>
            <p>&copy; 2017 Korean American Student Association at Virginia Tech</p>
</footer>

</body>
    
</html>