<!Doctype html>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><div class="parallaxtext">
							<p>Officers</p>
						</div><br /><br /><br /><br />
        </div>
<div class="wrapper">
  <!--<h1>Officers</h1-->

  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade1">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/patrick.PNG)">
						<div class="inner">
							<p>Patrick</p>
              <span>President</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Architecture <br/ ><br/ >I’m always hungry just like many people out there so don’t waste your food</p>
						</div>
					</div>
				</div>
			</div>
		  <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade2">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/emilie.PNG)">
						<div class="inner">
							<p>Emilie</p>
              <span>Vice President</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Human Development <br/ ><br/ >I want to make your KASA experience awesome possum :)</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade3">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/alison.PNG)">
						<div class="inner">
							<p>Alison</p>
              <span>Secretary</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Human Development<br/ >Minor: Spanish<br/ ><br/ >I am in denial about graduating</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');"  id="imgfade4">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/anthony.PNG)">
						<div class="inner">
							<p>Anthony</p>
              <span>Treasurer</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Major: Civil Engineering <br/ ><br/ >I love to hang out with friends and play lots of games</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade5">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/patl.PNG)">
						<div class="inner">
							<p>Patrick</p>
              <span>Fundraising Chair</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p><p>Year: Junior <br/> Major: BIT &amp; Marketing<br/ ><br/ >I like edm and raving any chance I can get</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade6">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/jina.PNG)">
						<div class="inner">
							<p>Jina</p>
              <span>Public Relations</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Visual Communication Design <br/ ><br/ >Wait what’s going on?</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade7">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/sunny.PNG)">
						<div class="inner">
							<p>Sunny</p>
              <span>Culture Show Coordinator</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Business IT <br/ ><br/ >I really like pizza</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade8">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/dk.PNG)">
						<div class="inner">
							<p>Daniel</p>
              <span>Events Coordinator</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Major: Computer Science <br/ ><br/ >I love the outdoors, especially hiking and stargazing!</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade9">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/jae.PNG)">
						<div class="inner">
							<p>Jaeseuk</p>
              <span>Events Coordinator</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Major: Statistics<br/ >Minor: Actuarial Science<br/ ><br/ >I LOVE my officer position!!</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade10">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/gabby.PNG)">
						<div class="inner">
							<p>Gabby</p>
              <span>Service Chair</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Biological Sciences <br/ ><br/ >I love coke zero, sleeping, and game of thrones.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade11">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/hanna.PNG)">
						<div class="inner">
							<p>Hanna</p>
              <span>Historian</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Major: Electrical Engineering <br/ ><br/ >I am a potato.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade12">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/elise.PNG)">
						<div class="inner">
							<p>Elise</p>
              <span>Historian</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Major: Industrial Design <br/ ><br/ >Lover of chai, dogs, and spa days and fervent supporter of the oxford comma.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade13">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/chris.PNG)">
						<div class="inner">
							<p>Chris</p>
              <span>Sports Coordinator</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Sophomore <br/> Double Major: Criminology and Sociology <br/ ><br/ >I love working out and watching anime.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade14">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/raymond.PNG)">
						<div class="inner">
							<p>Raymond</p>
              <span>Internal Relations</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Junior <br/> Major: Architecture<br/ >Minor: Sustainable Natural Environment<br/ ><br/ >I have no idea what I’m doing.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade15">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/allison.PNG)">
						<div class="inner">
							<p>Allison</p>
              <span>Videographer</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Junior <br/> Major: Marketing Management <br/ ><br/ >I like lifting and photography.</p>
						</div>
					</div>
				</div>
			</div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" id="imgfade16">
				<div class="container">
					<div class="front" style="background-image: url(/img/officerheadshot/alex.jpg)">
						<div class="inner">
							<p>Alex</p>
              <span>Webmaster</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>Year: Senior <br/> Major: Business IT <br/ ><br/ >ayy lmao</p>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>
<div class=parallax id="koreacity">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
<footer class=footer>
    <div class=socialmediastuff>
        <a href="https://www.facebook.com/vtkasa/" target="_blank"><img src="img/footer/facebook.png" width="32px" height="32px"></a>
        <a href="https://www.youtube.com/user/VTKASA" target="_blank"><img src="img/footer/youtube.png" width="32px" height="32px"></a>
        <a href="https://www.instagram.com/vt_kasa/" target="_blank"><img src="img/footer/instagram.png" width="32px" height="32px"></a>
        <a href="https://twitter.com/VT_KASA?lang=en" target="_blank"><img src="img/footer/twitter.png" width="32px" height="32px"></a>
        <a href="mailto:vtkasa@gmail.com"><img src="img/footer/gmail.png" width="32px" height="32px"></a>
    </div>
            <p>&copy; 2017 Korean American Student Association at Virginia Tech</p>
</footer>
